<h1>hello, seniors</h1>

<p>Having a problem with your computer? Internet connection is off-line? No signal message on your TV? Don't know how to set up Skype to video chat with your loved ones? Can't figure out that buttonless tablet thing you got from your kids on Christmas? Whatever your problem is... You are not alone!</p>

<a href="seniors/sign_up"><button>Ask for help</button></a>
<a href="/issues"><button>View issues</button></a>
<a href="sessions/new"><button>Log in</button></a>

<p>Consider yourself a techie? Know a thing or two about modern day technolodies? Good at troubleshooting and teaching? Gadgets are your best friends? Feel like fish in a water with everything that has a screen and a button? There are people who are less fortunate when it comes to tecnnology. Our grandmas and grandpas could sure use your help. Sign up to become a helper.</p>

<a href="helpers/sign_up"><button>Become helper</button></a>
<a href="/issues"><button>View issues</button></a>
<a href="sessions/new"><button>Log in</button></a>
