<form action="/seniors" method="post">
  <%= token_tag%>
  <input type="text" name="name" placeholder="Full name">
  <input type="text" name="age" placeholder="Age">
  <input type="text" name="address" placeholder="Address">
  <input type="text" name="phone_number" placeholder="Phone number">
  <input type="submit">
</form>
